@use '../base/variables' as var;

.header{
    width: 100%;
    background-color: var.$verde;
    height: 6.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 30;
}

.navbar{
    // margin:  0 auto;
    max-width: 1600px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo{
        width: 250px;
        height: 100%;

        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-search{
        
        // width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 15.625rem;
        // width: 100%;
        border: 3px solid var.$blanco;
        padding: .5rem;

        &__input{
            width: 100%;
            outline: none;
            background-color: transparent;
            border: none;

            &::placeholder{
                color: var.$gris;
                font-size: .9rem;
                font-family: var.$light;
            }
        }

        &__ico{
            color: var.$blanco;
        }

        & button{
            background-color: transparent;
            border: none;
        }
    }

    &-menu{
        // width: 40%;
        display: flex;
        margin-right: 1rem;

        &-list{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            position: relative;
            &__link{
                color: var.$blanco;
                text-decoration: none;
                font-size: 1rem;
                font-family: var.$regular;
                padding: 0rem .8em;
                text-align: center;
                cursor: pointer;
            }

            &-linked{
                & span{
                    font-family: var.$bold;
                }
            }

            &-submenu{
                width: 120%;
                position: absolute;
                display: flex;
                flex-direction: column;
         
                bottom: -18.25rem;
                padding: .5em 0;
                color: var.$blanco;
                display: none;
                background-color: var.$verde;
                z-index: 20;
                height: auto;
          
                &-list{
                    list-style: none;

                    &__link{
                        display: block;
                        text-align: center;
                        color: var.$blanco;
                        text-decoration: none;
                        font-size: 1rem;
                        margin-left: 0 .5rem ;
                        padding: .5rem .1rem;
                        font-family: var.$light;
                        
                        
                        &:active{
                            background-color: var.$naranja;
                        }
                    }

                    
                }

                
            }

            &-linked:hover &-submenu{
                display: block;
                
            }

            
        }


        
    }

    &-responsive{
        display: none;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &__ico{
            color: var.$blanco;
            font-size: 2.5rem;
        }
    }
}


@media screen and (max-width: 1200px) {

    
    .navbar-menu-list__link{
        font-size: .8rem;
    }

    .navbar-menu-list-submenu-list a{
        font-size: .8rem;
    }
}

@media screen and (max-width: 800px) {

    
    .navbar-menu{
        display: none;
    }

    .navbar-search{
       position: fixed;
       top: 7rem;
       z-index: 20;
       min-width: 50%;
    //    margin:  0 auto;
       left: 25%;
       display: none;
    }

    .navbar-search-actived{
        display: flex;
    }



    .navbar-responsive{
        display: block;
        margin-right: 1rem;
    }

    .navbar-menu{
        background-color: var.$verde;
        display: block;
        position: fixed;
        top: 5.8rem;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
    }

  
    .navbar-menu-list__link{
        font-size: 1.5rem;
        padding: 2rem 0;
        width: 100%;
        position: relative;
      
        &:active{
            background-color: var.$naranja;
        }
    }

    .navbar-menu-list-submenu{
        // position: fixed;
        // top: 0;
        bottom: -21.6375rem;
        font-size: 1rem;
    }

  
    .navbar-menu-list-submenu{
        background-color: var.$naranja;
    }

    .navbar-menu-list-submenu-list a{
        font-size: 1.5rem;
        &:active{
            background-color: var.$verde;
        }
    }

    .navbar-menu-list-linked:hover .navbar-menu-list-submenu {
        display: none;
    }

    .navbar-menu-list-submenu-actived{
        display: block;
    }

    .navbar-menu-actived{
        display: flex;
    }

}

@media screen and (max-width: 400px) {
    .navbar-search{
        left: 15%;
    }
}

// @media screen and (min-height: 851px) {
//     .navbar-menu-list-submenu{
//         bottom: 4rem;
//     }
// }
// @media screen and (max-height: 805px ) {
//     .navbar-menu-list-submenu{
//         bottom: -2rem;
//     }
// }