@use '../base/variables' as var;
.post-container{
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 5rem;
}

.post__title{
    display: block;
    text-align: center;
    font-size: 2rem;
    font-family: var.$bold;
    color: var.$verde;
}

.post-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-imagen{
    width: 30%;
    // height: 19.875rem;
    height: 18.75rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // background-color: var.$naranja;
    border: 4px solid var.$verde;
    box-shadow: 0px 0px 12px black;

    &-img{

        width: 100%;
        height: 80%;

        object-fit: cover;
        // box-shadow: 0px 0px 3px black;
        cursor: pointer;
        position: relative;
        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        
        
            // @include hover{     
            //     .post-imagen-img:hover .background{ 
            //     opacity: 1;
            //     // transition: opacity 1s ; 
            // }
            // } 
        


        &:active .background{
            opacity: 1;
            // transition: opacity .5s ease;
        }
    }


    &__title{
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 auto;
        height: 20%;
        color: var.$naranja;
        font-family: var.$regular;
        line-height: 3rem;
        text-align: center;

    }
}


.background{

    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__txt{
        width: 90%;
        color: var.$blanco;
        text-align: center;
    }
}

.background-opacity{
    opacity: 1;
}


@media screen and (max-width: 1200px) {

    .post-imagen{
        width: 45%;
        min-height: 18rem;
    }
}
@media screen and (max-width: 800px) {
    .post__title{
        font-size: 1.5rem;
    }

    .post-container{
        padding-top: 22rem;
    }

    .post-imagen{
        width: 45%;
        min-height: 12rem;
        margin: .4rem;
    }

    .post-imagen__title{
        font-size: .8rem;
    }

    .background__txt{
        font-size: .8rem;
    }

    
}
@media screen and (max-width: 450px) {

    .post__title{
        font-size: 1.3rem;
    }
    .post-imagen{
        width: 90%;   
    }

   
}

@media (hover:hover){

    .post-imagen-img:hover .background{
  
            opacity: 1;
            // transition: opacity 1s ; 
       
    } 

}